# https://github.com/AlexxIT/go2rtc/issues/641

streams:
{% for printer in printers %}
{% if printer.usb.camera is defined %}
  {{ printer.name }}: "ffmpeg:device?video=/dev/video_{{ printer.name }}&input_format=mjpeg&framerate=10&resolution=640x480#video=h264"
{% endif %}
{% endfor %}

webrtc:
  ice_servers:
    - urls: ["{{ stun_server }}"]
    - urls: ["{{ turn_server }}"]
      username: "{{ turn_user }}"
      credential: "{{ turn_secret['content'] | b64decode | trim }}"

api:
  listen: "127.0.0.1:1984"

log:
  level: debug
